{% extends "::base.html.twig" %}
{% set product = userProduct.product %}
{% block title %} {{ product.name }}{% endblock %}


{% block body %}
    <h1 style="color: #003366">Produit : {{ product.name }}</h1>
    <hr>
    <div class="col-lg-10">

        <div class="well well-lg" style="color: dimgrey">
            <p><strong>Fiche Descriptive: </strong>
                {{ product.description }}
            </p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                {% for picture in product.pictures %}
                    <img style="height: 200px;" src="{{ asset(picture.getWebPath())}}" />
                {% else %}
                    <img style="height: 200px;" src="http://bliister.com/upload/thumb/no_img.jpg">
                {% endfor %}
            </div>
            <div class="well well-lg col-lg-4" style="color: dimgrey">
                <p>Prix: {{ userProduct.price }} €</p>
                <p>Quantité : {{ userProduct.qty }}</p>
                <p>Etat : {{ userProduct.state ? 'Neuf' : 'Occasion' }}</p>
                <p>Vendu par {{ userProduct.user.firstName }} {{ userProduct.user.lastName }} à {{ userProduct.user.city }}</p>
            </div>
        </div>
        <br>
        {% if app.user != userProduct.user %}
            <button onclick="addCart({{ userProduct.id }});" class="btn btn-info">Ajouter</button>
        {% endif %}


        {% if product.specifications | length > 0  %}

                <hr>
                <h2 style="color: #003366">Spécifications</h2>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for specification in product.specifications %}
                        <tr>
                            <td>{{ specification.name }}</td>
                            <td>{{ specification.content }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        {% endif %}
        {% if products %}
            <h1 style="color: #003366">Autre(s) Vendeur(s)</h1>
            <hr>
            {% for userproduct in products %}
                {% if loop.index == 1 or (loop.index - 1) is divisible by(3) %}
                    <div class="top-box">
                {% endif %}
                <div class="card col_1_of_3 span_1_of_3">
                    <div class="inner_content clearfix">
                        <a href="{{ path('product_user_view', {id: userproduct.id}) }}">
                            <div class="product_image"
                                    {% for picture in product.pictures %}
                                    {% if loop.index ==1 %}
                                 style="background: url({{ asset(picture.getWebPath()) }});">
                                {% endif %}
                                {% else %}
                                    style="background: url('http://bliister.com/upload/thumb/no_img.jpg');">
                                {% endfor %}
                            </div>
                        </a>
                        <div class="sale-box"></div>
                        <div class="price">
                            <div class="cart-left">
                                <a href="{{ path('product_user_view', {id: userproduct.id}) }}">
                                    <p class="title"id="name{{ userproduct.id }}">{{ userproduct.product.name }}</p>
                                </a>
                                <div class="price1">
                                    <span class="actual"id="price{{ userproduct.id }}">{{ userproduct.price|number_format(2, '.',',') }} : {{ userproduct.state ? 'Neuf' : 'Occasion' }}</span>
                                </div>
                            </div>
                            <div id="errorqty{{ userproduct.id }}" style="display:none;">Vous avez atteind la quantité maximum de ce produit</div>
                            <div id="seller{{ userproduct.id }}" style="display: none;">{{ userproduct.user.lastname }} {{ userproduct.user.firstname }}</div>
                            <div id="stock{{ userproduct.id }}" style="display: none;">{{ userproduct.qty }}</div>
                            <div id="description{{ userproduct.id }}" style="display: none;">{{ userproduct.product.description }}</div>


                            {% if app.user.id is defined and userproduct.user.id == app.user.id  %}
                                <section style="display: block;width: 120px;overflow: hidden; float: right;margin-top:-80px;text-align: right;">
                                    <a href="{{ path('product_user_update', {'id': userproduct.id}) }}" class="btn btn-success" style="z-index: 0; display: inline-block; float: none;margin: 5px;">Modifier</a>
                                    {% if userproduct.product.valid == 0 %}
                                        <a href="{{ path('product_user_description', {'id': userproduct.product.id}) }}" class="btn btn-warning" style="z-index: 0; display: inline-block; float: none;margin: 5px" >Description</a>
                                    {% else %}
                                        <a href="{{ path('product_user_description', {'id': userproduct.product.id}) }}" class="btn btn-warning" style="z-index: 0; display: inline-block; float: none;margin: 5px" disabled>Description</a>
                                    {% endif %}
                                </section>
                            {% else %}
                                {% if userproduct.qty != 0 %}
                                    <div onclick="addCart({{ userproduct.id }});" class="icon cart-right"></div>
                                {% else %}
                                    Produit épuisé
                                {% endif %}
                                {% if id is defined %}
                                    <p id="categid" style="display:none;">{{ id }}</p>
                                {% endif %}
                            {% endif %}



                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                {% if loop.index is divisible by(3) %}
                    </div>
                    <div class="clear"></div>
                {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}
