<div class="body header-top" >
    <div class="wrap">
        <div class="header-top-left">
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('index_admin') }}">Config du site</a></li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                    <li><a href="{{ path('commands_user') }}">Mes Achats</a></li>
                    <li><a href="{{ path('commands_seller') }}">Mes Ventes</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                {%  else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Log In</a></li> |
                    <li><a href="{{ path('fos_user_registration_register') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div style="padding-bottom: 194px;" class='.header'></div>

    </section>
    <section class="menu header">
        {#% if is_granted("IS_AUTHENTICATED_REMEMBERED")%#}
        <span class="icon user"><a ><i class="fa fa-user fa-lg"></i></a>
            <div id="confUser" class="iconZoom off">
                <div class="triangleA"></div>
                <div class="triangleB"></div>
                <div class="list-group card">
                    <a class="list-group-item" href="{#{ path('user_updated') }#}"><i class="fa fa-home fa-fw"></i>&nbsp; info</a>
                    <a class="list-group-item" href="{#{ path('user_command') }#}"><i class="fa fa-book fa-fw"></i>&nbsp; command</a>
                    <a class="list-group-item" href="{#{ path('vente_user') }#}"><i class="fa fa-pencil fa-fw"></i>&nbsp; sell</a>
                    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
                    <a href="{{ path('cms_messagerie_inbox') }}">Messagerie</a>
                </div>
            </div>
        </span>
        <span class="icon panier"><a ><i class="fa fa-shopping-cart"></i></a>
            <div id="confUser" class="iconZoom off">
                <div class="triangleA"></div>
                <div class="triangleB"></div>
                <div class="list-group card">
                </div>
            </div>
        </span>
        {#% else %#}
        <a href="" class="signin">sign in</a>
        <a href="" class="signup">sign up</a>
        {#% endif %#}
    </section>
    <script>
        $('.iconZoom').click(function(){ this.className=(this.className=='iconZoom on')?this.className='iconZoom off':this.className='iconZoom on'});
    </script>

</header>