<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block style %}
            {% stylesheets
                'css/admin/bootstrap.min.css'
                'css/style.css'
                'css/style2.css'
                'css/form.css'
                'css/megamenu.css'
                'css/fwslider.css'
                filter='cssrewrite' output='css/compiled/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo+2"/>
            {% endstylesheets %}
        {% endblock %}
        <linl rel='stylesheet' href='http://fonts.googleapis.com/css?family=Exo+2' />
        <link rel="stylesheet" href="{{ asset('css/newCalou.css') }}" />

            {% block stylesheets %}
                {%  render(controller('CmsUlysseBundle:Header:custom')) %}
            {% endblock %}

        {% block javas %}
            {% javascripts output="js/compiled/main.js"
                "js/jquery-2.1.4.min.js"
                'js/jquery-ui.min.js'
                'js/megamenu.js'
                'js/css3-mediaqueries.js'
                'js/fwslider.js'
                'js/jquery.easydropdown.js'
                'js/geoLocCalou.js'
                'js/scrollCalou.js'
                'js/search.js'
                'js/cart.js'
                'js/colLandR.js'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <script>
            /* variable global */
            var urlCart = '{{ path('user_cart') }}';
            var url      = '{{ path('search_cart') }}';
            var redirUrl = '{{ path('market_cart') }}';

        </script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        {% block header %}
            {%  include ':include:header.html.twig' %}
        {% endblock header %}

        <section class="body">

            {%  block slide %}{%  endblock %}

            <div class="wrap">
                <div class="section group">
                    <div class="colonneA">
                        <div id="in" style="padding:2px 10px 10px 10px"></div>
                    </div>
                    <div class="colonneB">
                        <section id="response" ></section>
                        <div class="clear"></div>


                        {% block body %}{% endblock body %}


                    </div>
                    <div class="colonneC" style="padding:2px 10px 10px 10px">
                        <div id="in"  style="padding:2px 10px 10px 10px"></div>
                    </div>
                </div>
            </div>
        </section>

        {% block footer %}
            {%  render(controller('CmsUlysseBundle:Header:foot')) %}
        {% endblock footer %}

        {% block javascripts %}{% endblock javascripts%}

        {% block modal %}{% endblock %}

        {% block minimenu %}{% endblock %}

        <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
        <script src="{{ asset('js/circleMenu.min.js') }}"></script>
    </body>
</html>
