
{% block body %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        fieldset, fieldset *, fieldset *>* {
            z-index: 0 !important;
        }

        body{
            height: 100%;
            background-color: #4CB1CA;
            font-family: "Roboto Slab", serif;
        }

        body label{
            color: #FFF;
        }

        .preload * {
            transition: none !important;
        }

        label {
            display: block;
            font-weight: bold;
            font-size: small;
            text-transform: uppercase;
            font-size: 0.7em;
            margin-bottom: 0.35em;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            border: none;
            padding: 0.5em;
            border-radius: 2px;
            margin-bottom: 0.5em;
            color: #333;
        }
        input[type="text"]:focus, input[type="password"]:focus {
            outline: none;
            box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.3);
        }

        button {
            padding-left: 1.5em;
            padding-right: 1.5em;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
            border: none;
            border-radius: 2px;
            background-color: #7E5AF1;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            color: white;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
        }

        button {
            padding-left: 1.5em;
            padding-right: 1.5em;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
            border: none;
            border-radius: 2px;
            background-color: #7DB122;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            color: white;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
        }

        small {
            font-size: 1em;
        }

        .login--login-submit {
            float: right;
        }

        .login--container {
            width: 600px;
            background-color: #4CB1CA;
            margin: 0 auto;
            position: relative;
            top: 25%;
        }

        .login--toggle-container {
            position: absolute;
            background-color: #4CB1CA;
            right: 0;
            line-height: 2.5em;
            width: 50%;
            height: 550px;
            text-align: right;
            cursor: pointer;
            transform: perspective(1000px) translateZ(1px);
            transform-origin: 0% 0%;
            transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
            backface-visibility: hidden;
        }
        .login--toggle-container .js-toggle-login {
            font-size: 4em;
            text-decoration: underline;
        }
        .login--active .login--toggle-container {
            transform: perspective(1000px) rotateY(180deg);
            background-color: #bc1012;
        }

        .login--username-container, .login--password-container {
            float: left;
            background-color: #4CB1CA;
            width: 50%;
            height: 550px;
            padding: 0.5em;
        }

        .login--username-container {
            transform-origin: 100% 0%;
            transform: perspective(1000px) rotateY(180deg);
            transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
            background-color: #bc1012;
            backface-visibility: hidden;
        }
        .login--active .login--username-container {
            transform: perspective(1000px) rotateY(0deg);
            background-color: #4CB1CA;
        }
        #route{
            width: 284px;
        }
    </style>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-group">
<div class='preload login--container'>
    <div class='login--form'>
        <div class='login--username-container'>
        <h2 style="color:#FFFFFF">Inscription</h2>
        <fieldset>
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        </fieldset>
        </div>
        <div class='login--password-container'>
        <fieldset>
            <div class="form-group">
                <label class="control-label">Address</label>
                <div class="">
                    <input id="user_input_autocomplete_address"
                           class="form-control" placeholder="Start typing your address...">
                </div>
            </div>
        </fieldset>
        <fieldset class="disabled">
            {{ form_row(form.street_number, { 'id': 'street_number'}) }}
            {{ form_row(form.address, { 'id': 'route'}) }}
            {{ form_row(form.city, { 'id': 'locality'}) }}
            {{ form_row(form.administrative_area, { 'id': 'administrative_area_level_1'}) }}
            {{ form_row(form.postal_code, { 'id': 'postal_code'}) }}
            {{ form_row(form.country, { 'id': 'country'}) }}
        </fieldset>
        <fieldset>
            {{ form_row(form.tel) }}
        </fieldset>
        <fieldset>
            <section style="display:none">
                {{ form_row(form.is_active) }}
            </section>
            {{ form_rest(form) }}
            <button class='js-toggle-login login--login-submit'>Envoyer</button>
        </fieldset>
      </div>
    </div>
    <div class='login--toggle-container'>
        <br>
        <br>
        <br>
        <br>
        <small>Hey you,</small>
        <div class='js-toggle-login'>Register</div>
        <small>already</small>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
    </form>




    <section id="pauline_narcisique" style="position:fixed; bottom:0;right:0;width: 25%;">


    <style>
    @font-face {
        font-family: 'Amatic SC';
        font-style: normal;
        font-weight: 400;
        src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v3/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
    }

    @font-face {
        font-family: 'Amatic SC';
        font-style: normal;
        font-weight: 700;
        src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v3/IDnkRTPGcrSVo50UyYNK73hCUOGz7vYGh680lGh-uXM.woff) format('woff');
    }

        /* Reset ======================================================= */


    .newsflash {
        font-family: sans-serif;
        background: #313455;
        color: wheat;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 1rem;
        z-index: 10000;
        opacity: .85;
        transition: .3s;
    }
    .newsflash em { font-style: normal; font-family: sans-serif; color: tomato; font-weight: bold; }
    .newsflash:hover span { text-decoration: underline; }
    .newsflash:hover {
        opacity: 1;
        color: white;
    }



    .pauline_narcisique  * {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .pauline_narcisique header,
    .pauline_narcisique footer,
    .pauline_narcisique section,
    .pauline_narcisique figure,
    .pauline_narcisique figcaption {
        display: block;
    }

    .pauline_narcisique  {
        font: 300 100%/1.5 'Amatic SC', cursive;
        color: #494636;
        background: #F8EEB9;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .pauline_narcisique section {
        width: 290px;
        margin: 0 auto;
    }

    .pauline_narcisique  a{
        cursor: pointer;
        text-decoration: none;
    }

    .pauline_narcisique .paused * {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        opacity: .5;
        pointer-events: none;
        -webkit-transition: opacity .4s;
        transition: opacity .4s;
    }

        /* Creature container ========================================== */

    .creatures {
        list-style: none;
        margin: 15px 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        text-align: center;
    }

    .creatures li {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 260px;
        list-style: none;
        margin: 0 auto;
        padding: 15px 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pauline_narcisique .error {
        padding: 45px;
        font-size: 2.5rem;
        font-weight: bold;
    }

        /* .pauline_narcisique  header ====================================================== */

    .pauline_narcisique hgroup {
        text-align: center;
        white-space: nowrap;
    }

    .pauline_narcisique .logo,
    .make {
        position: relative;
        display: block;
        color: #494636;
    }

    .pauline_narcisique .logo {
        font-size: 4rem;
    }

    .make {
        font-size: 2rem;
    }

    .pauline_narcisique  header {
        display: none;
        color: #F8EEB9;
        font-weight: 700;
        width: 100%;
        line-height: 2;
        background: #3B382B center bottom no-repeat;
        background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 40%, rgba(0,0,0,.3) 100%);
        background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.05) 40%, rgba(0,0,0,.3) 100%);
        background-size: 100% 45px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .pauline_narcisique  header ul {
        list-style: none;
    }

    .pauline_narcisique  header li {
        text-align: left;
        font: 400 1em "Helvetica", sans-serif;
        background: rgba(0,0,0,.4);
        padding: 10px 15px;
        margin-top: .4em;
        border-radius: 5px;
        color: #DAD1A4;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .pauline_narcisique  i{
        font-style: normal;
        border-bottom: 2px solid transparent;
        -webkit-transition: .2s;
        transition: .2s;
    }

    .pauline_narcisique .active {
        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite;
    }

    @-webkit-keyframes pulse {
        50% {
            color: #fff;
            border-bottom-color: #DAD1A4;
        }
    }

    @keyframes pulse {
        50% {
            color: #fff;
            border-bottom-color: #DAD1A4;
        }
    }

    .pauline_narcisique  header section {
        width: 100%;
        text-align: center;
        padding: 30px;
    }

    .pauline_narcisique  header a {
        color: #F8EEB9;
        border-bottom: 2px solid #67624C;
        -webkit-transition: border-color .2s;
        transition: border-color .2s;
    }

    .pauline_narcisique  header a:hover {
        border-bottom-color: #F8EEB9;
    }

    .pauline_narcisique  header h2 {
        font-size: 1em;
        padding: 15px 30px 0;
        opacity: .8;
    }

        /* .pauline_narcisique  footer ====================================================== */

    .pauline_narcisique  footer {
        display: none;
        text-align: center;
        padding: 60px 30px;
        font-size: 2.3rem;
    }

    .pauline_narcisique  footer a {
        color: #111;
        border-bottom: 1px dashed #111;
    }

    .pauline_narcisique  footer a:hover {
        border-bottom-style: solid;
    }

        /* Creature ==================================================== */

    figure {
        width: 200px;
        height: 200px;
        padding: 40px;
        box-shadow: inset -10px -30px rgba(0,0,0,.06);
        border-radius: 50%;
        -webkit-animation: bobble 5s ease-in-out infinite;
        animation: bobble 5s ease-in-out infinite;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transition: padding .3s, bottom .3s;
        transition: padding .3s, bottom .3s;
        text-align: center;
        background: cadetblue;
    }

    @-webkit-keyframes bobble {
        33% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }

        66% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
    }

    @keyframes bobble {
        33% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }

        66% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
    }

    .pauline_narcisique li:nth-child(5n+1) figure {
        -webkit-animation-delay: -3s;
        animation-delay: -3s;
        background-color: cadetblue;
    }

    .pauline_narcisique li:nth-child(5n+1) figure {
        -webkit-animation-delay: -3s;
        animation-delay: -3s;
        background-color: tomato;
    }

    .pauline_narcisique  li:nth-child(5n+2) figure {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
        background-color: dodgerblue;
    }

    .pauline_narcisique li:nth-child(5n+3) figure {
        -webkit-animation-delay: -4s;
        animation-delay: -4s;
        background-color: coral;
    }

    .pauline_narcisique li:nth-child(5n+4) figure {
        -webkit-animation-delay: -.2.5s;
        animation-delay: -.2.5s;
        background-color: limegreen;
    }

    .pauline_narcisique li:hover figure {
        padding: 30px 40px;
    }

    .pauline_narcisique li:hover .click-anim {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    .click-anim {
        -webkit-transition: .3s cubic-bezier(.15,.60,.30,1.9);
        transition: .3s cubic-bezier(.15,.60,.30,1.9);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

    .pauline_narcisique li:active .click-anim {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

        /* Captions ==================================================== */

    figcaption {
        padding: 10px 0;
        font-size: 12px;
        font-family: monospace;
    }

    .pauline_narcisique  em{
        font-family: "Georgia", serif;
    }

    figcaption a {
        display: inline-block;
        color: #494636;
        border-bottom: 1px solid transparent;
        white-space: nowrap;
    }

    figcaption a:hover {
        text-decoration: underline;
    }

    time {
        display: block;
    }

    time a {
        font-size: 11px;
    }

        /* Shadow ======================================================= */

    .shadow {
        height: 20px;
        background: rgba(0,0,0,.1);
        width: 60%;
        border-radius: 100%;
        margin: -15px 0 0 30%;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .pauline_narcisique li:hover .shadow {
        background: rgba(0,0,0,.05);
    }

    .pauline_narcisique li:active .shadow {
        background: rgba(0,0,0,.08);
        width: 70%;
    }

        /* Eyes ======================================================== */

    .eye {
        display: inline-block;
        width: 10px;
        height: 15px;
        margin: 0 5px 5px;
        background: rgba(0,0,0,.9);
        border-radius: 10px;
        border-radius: 50%;
        -webkit-animation: blink 4s ease-in-out infinite;
        animation: blink 4s ease-in-out infinite;
    }

    @-webkit-keyframes blink {
        90% {
            -webkit-transform: none;
            transform: none;
        }

        95% {
            -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
        }
    }

    @keyframes blink {
        90% {
            -webkit-transform: none;
            transform: none;
        }

        95% {
            -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
        }
    }

        /* Moustache =================================================== */

    .moustache {
        display: inline-block;
        width: 100%;
        height: 10px;
    }

    .moustache:before,
    .moustache:after {
        display: inline-block;
        color: rgba(0,0,0,.9);
        content: "~";
        font-size: 4em;
        line-height: 0;
        font: 5em/20px "Helvetica", Arial;
        margin: 0 -4px;
    }

    .moustache:before {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .pauline_narcisique li:hover .moustache {
        -webkit-animation: moustache-wiggle 2s infinite;
        animation: moustache-wiggle 2s infinite;
    }

    @-webkit-keyframes moustache-wiggle {
        50%, 90% {
            -webkit-transform: none;
            transform: none;
        }

        60%, 80% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }

        70% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }
    }

    @keyframes moustache-wiggle {
        50%, 90% {
            -webkit-transform: none;
            transform: none;
        }

        60%, 80% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }

        70% {
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }
    }

        /* Mouth =================================================== */

    .mouth {
        display: block;
        width: 100%;
        height: 20px;
        margin: 5px auto 0;
        background: rgba(0,0,0,.9);
        border-radius: 10px 10px 100px 100px;
        border-radius: 10px 10px 50% 50%;
        -webkit-transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
        transition: border-radius .5s, height .5s cubic-bezier(.15,.60,.30,1.9);
        overflow: hidden;
        line-height: 0;
        -webkit-transform-origin: center top;
        transform-origin: center top;
    }

    .teeth:after,
    .teeth:before,
    .tooth:after {
        display: inline-block;
        content: "";
        margin: 0 2px;
        width: 15px;
        height: 15px;
        background: #eee;
    }

    .pauline_narcisique li:nth-child(odd) .tooth:after {
        margin-right: 17px;
    }

    .pauline_narcisique li:nth-child(even) .tooth:after {
        margin-left: 17px;
    }

        /* Behaviors =================================================== */

    .hungry .mouth {
        -webkit-animation: hungry .5s infinite;
        animation: hungry .5s infinite;
        border-radius: 30px 30px 50% 50%;
        height: 80px;
    }

    .hungry .mouth:hover {
        cursor: none;
    }

    @-webkit-keyframes hungry {
        40% {
            height: 40px;
        }
    }

    @keyframes hungry {
        40% {
            height: 40px;
        }
    }

    .nervous .mouth {
        -webkit-animation: nervous .2s infinite;
        animation: nervous .2s infinite;
        border-radius: 40% 40% 5px 5px;
    }

    @-webkit-keyframes nervous {
        50% {
            height: 24px;
        }
    }

    @keyframes nervous {
        50% {
            height: 24px;
        }
    }

    .hyper {
        -webkit-animation: hyper 2s infinite;
        animation: hyper 2s infinite;
    }

    @-webkit-keyframes hyper {
        25% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        15%, 50% {
            -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
        }

        75% {
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes hyper {
        25% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        15%, 50% {
            -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
        }

        75% {
            -webkit-transform: none;
            transform: none;
        }
    }

    .hyper .mouth {
        height: 80px;
        border-radius: 20px 20px 50% 50%;
    }

        /* Mobile-first Responsive======================================= */

    @media screen and (min-width:560px) {
        .pauline_narcisique  header section,
        section {
            width: 550px;
        }

        .pauline_narcisique  header section {
            font-size: 1.2em;
            text-align: left;
            padding: 30px 15px;
        }
    }

    @media screen and (min-width:820px) {
        .pauline_narcisique  header section,
        section {
            width: 840px;
        }

        .pauline_narcisique  header h1 {
            font-size: 1.7em;
            padding: 0 30px;
        }

        .pauline_narcisique  header ul {
            padding: 0 30px;
        }

        .pauline_narcisique hgroup {
            text-align: left;
            line-height: 7rem;
            overflow: hidden;
        }

        .creatures {
            -webkit-animation: enter .7s .2s both;
            animation: enter .7s .2s both;
            -webkit-transform-origin: center top;
            transform-origin: center top;
        }

        @keyframes enter {
            0% {
                -webkit-transform: translateY(50px) scale(.8);
                transform: translateY(50px) scale(.8);
                opacity: 0;
            }

            100% {
                -webkit-transform: none;
                transform: none;
            }
        }

        .creatures li {
            padding: 30px;
        }

        .pauline_narcisique .logo,
        .make,
        .tweet {
            display: inline-block;
        }

        .make {
            padding: 0 30px;
            margin-right: 45px;
        }

        .pauline_narcisique .logo {
            padding: 0 15px 0 45px;
        }

        .pauline_narcisique .logo span,
        .make span {
            border-bottom: 2px solid transparent;
        }

        .pauline_narcisique .logo:hover span {
            border-color: #494636;
        }

        .make {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            float: right;
            border-radius: 0 0 30px 30px;
            background: #3B382B;
            color: #F8EEB9;
            font-weight: 700;
            box-shadow: -15px -30px #3B382B, 15px -30px #3B382B;
            -webkit-transition: .3s;
            transition: .3s;
        }

        .make:hover span {
            border-color: #F8EEB9;
        }

        .make:hover,
        .opened {
            background: #29271E;
            box-shadow: -15px -30px #29271E, 15px -30px #29271E;
        }

        .make:before,
        .make:after {
            position: absolute;
            top: 0;
            display: block;
            content: "";
        }

        .make:before,
        .make:after {
            width: 30px;
            height: 100%;
            background: #F8EEB9;
        }

        .make:before {
            left: -30px;
            border-radius: 0 15px 0 0;
        }

        .make:after {
            right: -30px;
            border-radius: 15px 0 0;
        }

        time {
            display: block;
            -webkit-transition: .2s;
            transition: .2s;
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
            opacity: 0;
        }

        .pauline_narcisique li:hover time,
        .pauline_narcisique li:nth-child(-n+2) time {
            opacity: 1;
        }
    }

    @media screen and (min-width:1070px) {
        .pauline_narcisique  header section,
        .pauline_narcisique section {
            width: 1070px;
        }

        .pauline_narcisique  header ul {
            width: 760px;
        }

        .pauline_narcisique .creatures li {
            padding: 30px;
        }

        .pauline_narcisique .creatures li:nth-child(3n) {
            padding: 60px 30px 0;
        }

        .pauline_narcisique .creatures li:nth-child(3n+1) {
            padding: 20px 30px 40px;
        }

        .pauline_narcisique .creatures li:nth-child(3n+2) {
            padding: 45px 30px 15px;
        }
    }
    .flag-dropdown{
        border-radius: 2px !important;
        padding: 8px 0px !important;
        margin-top: 2px !important;
        background: rgb(255, 255, 255) !important;
    }
    .selected-flag{
        border-radius: 2px !important;
    }
    .arrowParent{
        padding: 8px 0px !important;
        background: rgb(168, 168, 168) !important;
    }
    .codeCountry{
        margin-top: -6px !important;
    }
    #fos_user_registration_form_tel{
        margin-left: 70px !important;
        width: 208px !important;
    }
    .flag-dropdown{
        margin-left: -6px;
    }
    #fos_user_registration_form_email{
        width: 284px;
    }
    </style>
    <div class="click-anim"><figure class="hungry" style="background-color:#FF99CC"><div class="eye"></div><div class="eye"></div><div class=""></div><div class="mouth "></div></figure></div><div class="shadow"></div>
    </section>

    <script>
        (function () {
            $('.login--container').removeClass('preload');
            this.timer = window.setTimeout(function (_this) {
                return function () {
                    return $('.login--container').toggleClass('login--active');
                };
            }(this), 2000);
            $('.js-toggle-login').click(function (_this) {
                return function () {
                    window.clearTimeout(_this.timer);
                    $('.login--container').toggleClass('login--active');
                    return $('.login--username-container input').focus();
                };
            }(this));
        }.call(this));
    </script>
{% endblock body %}

{% block javascripts %}
    <!-- Include Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDiLbha2ADV-c4IjSgjFFCj01FcwrOHteI"></script>
    <!-- Custom JS code to bind to Autocomplete API -->
    <script src="{{ asset('/js/api_google_map/autocomplete.js') }}"></script>

    <script src="{{ asset('/js/intlTellnput.js') }}"></script>
    <script>
        var allCountriesA;
    </script>
    <script src="{{ asset('/js/utils.js') }}"></script>
    <script>
        var utilsScriptUrl = "{{ asset('/js/utils.js') }}";
    </script>
    <script src="{{ asset('/js/defaultCountrylp.js') }}"></script>
    <script>

        verifPhone(10);

    </script>
{% endblock javascripts%}