
{% block body %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-group">
        <h2>Inscription</h2>
        <fieldset>
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-4 control-label">Address</label>
                <div class="col-sm-8">
                    <input id="user_input_autocomplete_address"
                           class="form-control" placeholder="Start typing your address...">
                </div>
            </div>
        </fieldset>
        <fieldset class="disabled">
            {{ form_row(form.street_number, { 'id': 'street_number'}) }}
            {{ form_row(form.address, { 'id': 'route'}) }}
            {{ form_row(form.city, { 'id': 'locality'}) }}
            {{ form_row(form.administrative_area, { 'id': 'administrative_area_level_1'}) }}
            {{ form_row(form.postal_code, { 'id': 'postal_code'}) }}
            {{ form_row(form.country, { 'id': 'country'}) }}
        </fieldset>
        <fieldset>
            {{ form_row(form.tel) }}
        </fieldset>
        <fieldset>
            <section style="display:none">
                {{ form_row(form.is_active) }}
            </section>
            {{ form_rest(form) }}
            <div>
                <input type="submit" value="Envoyer" class="btn btn-template-main"/>
            </div>
        </fieldset>
    </form>
{% endblock body %}

{% block javascripts %}
    <!-- Include Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDiLbha2ADV-c4IjSgjFFCj01FcwrOHteI"></script>
    <!-- Custom JS code to bind to Autocomplete API -->
    <script src="/js/api_google_map/autocomplete.js"></script>

    <script src='/js/intlTellnput.js'></script>
    <script>
        var allCountriesA;
    </script>
    <script src="/js/utils.js"></script>
    <script>
        var utilsScriptUrl = '/js/utils.js';
    </script>
    <script src="/js/defaultCountrylp.js"></script>
    <script>

        verifPhone(10);

    </script>
{% endblock javascripts%}
