{% extends ":Admin:base.html.twig" %}

{% block body_content %}
    <a href="#"><strong>Configuration du Site</strong></a>
    <hr>

    {% if site is defined and site is not null %}

        <h1>{{ site.name }}</h1>
        <ul class="list-group">
            <li class="list-group-item"><span class="badge">{{ site.name }}</span>Titre du site</li>
            <li class="list-group-item"><span class="badge">{{ site.slogan }}</span> Slogan</li>
            <li class="list-group-item"><span class="badge" style="background:{{ site.bodyColor }};">{{ site.bodyColor }}</span>Couleur du body</li>
            <li class="list-group-item"><span class="badge" style="background:{{ site.headerColor }};">{{ site.headerColor }}</span>Couleur du header</li>
            <li class="list-group-item"><span class="badge" style="background:{{ site.iconeColor }};">{{ site.iconeColor }}</span>Couleur des icones</li>
            <!--li class="list-group-item"><span class="badge">{{ site.positionMenu == 1 ? 'A droite de la page' : 'En haut de la page'}}</span>Position du Menu</li-->
            <li class="list-group-item"><span class="badge">{{ site.footer }}</span> Footer</li>
            <li class="list-group-item">
                <span class="badge">
                    {% if site.corpsColonnes == 1 %}
                        1 colonne (centrale)
                    {% elseif site.corpsColonnes == 2 %}
                        2 colonnes (gauche / centrale)
                    {% elseif site.corpsColonnes == 3 %}
                        2 colonnes (droite / centrale)
                    {% elseif site.corpsColonnes == 4 %}
                        3 colonnes (gauche / droite et centrale)
                    {% endif %}
                </span>Nombre de Colonnes</li>

            <li class="list-group-item">
                Image du fond d'écran
                {% if site.background is defined and site.background != null %}
                    <img style="margin-left: 50px; border-radius: 10%" width="300px" src="{{ asset(site.getWebPath())}}" alt="" />
                    <a class="btn btn-primary" href="{{ path('remove_background_admin', {'id': site.id }) }}">Supprimer l'image</a>
                {% endif %}
            </li>
        </ul>

        <a class="btn btn-primary" href="{{ path("settings_update_admin") }}">Modifier la configuration</a>
    {% else %}

        Pas encore de configuration
        <a class="btn btn-primary" href="{{ path("settings_add_admin") }}">Ajouter une configuration du site</a>

    {% endif %}

{% endblock %}
