{% extends ":Admin:base.html.twig" %}

{% block body_content %}
    <a href="#"><strong>Configuration du Site</strong></a>
    <hr>

    {% if site is defined and site is not null %}

        <h1>{{ site.name }}</h1>
        <ul class="list-group">
            <li class="list-group-item"><span class="badge">{{ site.name }}</span>Titre du site</li>
            <li class="list-group-item"><span class="badge">{{ site.slogan }}</span> Slogan</li>
            <li class="list-group-item"><span class="badge" style="background:{{ site.themeColor }};">{{ site.themeColor }}</span> Thème Couleur</li>
            <li class="list-group-item"><span class="badge">{{ site.positionMenu }}</span>Position du Menu</li>
            <li class="list-group-item"><span class="badge">{{ site.corpsColonnes }}</span>Nombre de Colonnes</li>

            <li class="list-group-item">
                {% if site.image is defined %}
                <span class="badge">
                    <img width="300px" src="{{ asset(site.getWebPath())}}" alt="" />
                </span>
                {% endif %}
                Image du fond d'écran
            </li>
        </ul>

        <a class="btn btn-primary" href="{{ path("settings_update_admin") }}">Modifier la configuration</a>
    {% else %}

        Pas encore de configuration
        <a class="btn btn-primary" href="{{ path("settings_add_admin") }}">Ajouter une configuration du site</a>

    {% endif %}

{% endblock %}
