{% extends "::base.html.twig" %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Mon panier</h1>
    <hr>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Vendeur</th>
            <th>Total</th>
            <th></th>
        </tr>
        {% set totaux = 0 %}
        {% for userproduct in products %}
            <tr>
                {% set total = 0 %}
                <td id="name{{ userproduct.id }}">{{ userproduct.name }}</td>
                <td id="description{{ userproduct.id }}">{{ userproduct.description }}</td>
                <td id="price{{ userproduct.id }}">{{ userproduct.price }}</td>
                <td><input id="qty{{ userproduct.id }}" type="number" value="{{ userproduct.qty }}" min="0" max="{{ userproduct.stock }}" onclick="updateCart({{ userproduct.id }});"/></td>
                <td id="stock{{ userproduct.id }}" style="display:none;">{{ userproduct.stock }}</td>
                <td id="seller{{ userproduct.id }}">{{ userproduct.seller }}</td>
                <td id="total{{ userproduct.id }}">
                </td>
                <td><input type="button" onclick="deleteCart({{ userproduct.id }});" value="Supprimer" class="btn btn-danger"/></td>
                <td id="errorqty{{ userproduct.id }}" style="display:none;">Vous avez atteind la quantité maximum de ce produit</td>
            </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th id="totaux"></th>
            <th></th>
        </tr>
    </table>

    <button id="command" onclick="formOrder();" class="btn btn-success">Commander</button>

    <div id="order" style="display:none">
        <h1>Adresse de Livraison:</h1>
        {{ form(form) }}
    </div>

    <a href="{{ path('home') }}">Retour</a>

{% endblock %}