{% extends "::base.html.twig" %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Mon panier</h1>
    <hr>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Vendeur</th>
            <th>Total</th>
            <th></th>
        </tr>
        {% set totaux = 0 %}
        {% for userproduct in products %}
            <tr>
                {% set total = 0 %}
                <td id="name{{ userproduct.id }}">{{ userproduct.name }}</td>
                <td id="description{{ userproduct.id }}">{{ userproduct.description }}</td>
                <td id="price{{ userproduct.id }}">{{ userproduct.price }}</td>
                <td><input id="qty{{ userproduct.id }}" type="number" value="{{ userproduct.qty }}" min="0" max="{{ userproduct.stock }}" onclick="updateCart({{ userproduct.id }});"/></td>
                <td id="stock{{ userproduct.id }}" style="display:none;">{{ userproduct.stock }}</td>
                <td id="seller{{ userproduct.id }}">{{ userproduct.seller }}</td>
                <td id="total{{ userproduct.id }}">
                </td>
                <td><input type="button" onclick="deleteCart({{ userproduct.id }});" value="Supprimer" class="btn btn-danger"/></td>
                <td id="errorqty{{ userproduct.id }}" style="display:none;">Vous avez atteind la quantité maximum de ce produit</td>
            </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th id="totaux"></th>
            <th></th>
        </tr>
    </table>

    <button id="command" onclick="formOrder();" class="btn btn-success">Commander</button>


    <div id="order" class="col-lg-6" style="display:none">
        <h1 style="color: #003366;">Adresse de Livraison:</h1>
        <hr>
        <form class="form-horizontal" action="{{ path('user_cart') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
            <section class="form-group">
                {{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.lastname) }}
            </section>
            <section class="form-group">
                {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.firstname) }}
            </section>
            <section class="form-group">
                {{ form_label(form.address, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.address) }}
            </section>
            <section class="form-group">
                {{ form_label(form.postal_code, "Code Postal", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.postal_code, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.postal_code) }}
            </section>
            <section class="form-group">
                {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.city) }}
            </section>
            <section class="form-group">
                {{ form_label(form.tel, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.tel, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.tel) }}
            </section>
            {{ form_widget(form.btn) }}
            <div style="display: none">
                {{ form_row(form) }}
            </div>
            <a class="btn btn-warning" href="{{ path('home') }}">Retour</a>
        </form>

    </div>



{% endblock %}