        <h1>Liste des produits {{ category }}</h1>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Vendeur</th>
                <th>Action</th>
            </tr>
            {% for userproduct in products %}
                <tr>
                    <td id="name{{ userproduct.id }}">{{ userproduct.product.name }}</td>
                    <td id="description{{ userproduct.id }}">{{ userproduct.product.description }}</td>
                    <td id="price{{ userproduct.id }}">{{ userproduct.price }}</td>
                    <td id="stock{{ userproduct.id }}">{{ userproduct.qty }}</td>
                    <td id="seller{{ userproduct.id }}">{{ userproduct.user.lastname }} {{ userproduct.user.firstname }}</td>
                    <td>{% if userproduct.qty != 0 %}
                            <button onclick="addCart({{ userproduct.id }});">Ajouter</button>
                        {% else %}
                            Produit épuisé
                        {% endif %}
                    </td>
                    <td id="errorqty{{ userproduct.id }}" style="display:none;">Vous avez atteind la quantité maximum de ce produit</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('user_cart') }}"> Mon panier</a>
        {% if id is defined %}
            <p id="categid" style="display:none;">{{ id }}</p>
        {% endif %}

