{% block body %}
    <h1>Mon panier</h1>
    <hr>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Vendeur</th>
            <th>Total</th>
            <th></th>
        </tr>
        {% set totaux = 0 %}
        {% for userproduct in products %}
            <tr>
                {% set total = 0 %}
                <td id="name{{ userproduct.id }}">{{ userproduct.name }}</td>
                <td id="description{{ userproduct.id }}">{{ userproduct.description }}</td>
                <td id="price{{ userproduct.id }}">{{ userproduct.price }}</td>
                <td>{{ userproduct.qty }}"</td>
                <td id="seller{{ userproduct.id }}">{{ userproduct.seller }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ total }}</th>
            <th></th>
        </tr>
    </table>
    <hr>
{% endblock %}