{% extends "::base.html.twig" %}

{% block title %}CmsUlysseBundle:Site:index{% endblock %}

{% block body %}
<h1>Welcome to the Site:index page</h1>

    {% if site is defined and site is not null %}

        <h1>Name</h1>{{ site.name }}
        <h3>Slogan</h3>{{ site.slogan }}
        <p> Theme Color: {{ site.themeColor }}</p>
        <p> Position Menu: {{ site.positionMenu }}</p>
        <p>corps Colonne: {{ site.corpsColonnes }}</p>


        <p>
            image background:
            <img width="300px" src="{{ asset(site.getWebPath())}}" alt="" />
        </p>
        <a href="{{ path("config_update") }}">Modifier la configuration</a>
    {% else %}

        Pas encore de configuration
        <a href="{{ path("config_add") }}">Ajouter une configuration du site</a>

    {% endif %}

{% endblock %}
