{% extends "base.html.twig" %}

{% block body %}
    
    {% block fos_user_content %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">Email</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <button class="btn btn-primary btn-lg btn-block" type="submit" >{{ 'security.login.submit'|trans }}</button>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </form>
    {% endblock fos_user_content %}

{% endblock body %}