{% extends "base.html.twig" %}

{% block body %}
    
    {% block fos_user_content %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <section id="login">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">Email</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">password</label>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">remember me</label>

            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </form>
        <!--a href="{#{ path('fos_user_resetting_request') }#}">Mot de passe oublié</a-->

        <a class="btn btn-primary btn-large" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="{{ 'registration.facebook.submit'|trans }}">
            <img width="20px" src="{{ asset('/bundles/user/images/facebook-min.jpg') }}"> facebook
        </a>
        </section>
    {% endblock fos_user_content %}

{% endblock body %}