<section id="feature" style="padding-top:5px" >

{% for titleC, products in category %}
      <h2 class="head" style="display:block">{{ titleC }}</h2>
       <div class="top-box">
        {% for product in products %}
        <div class="chg card col_1_of_3 span_1_of_3">
                <div class="inner_content clearfix">
                    <a href="{{ path('product_user_view', {id: product.minPrice.id}) }}">
                        <div class="product_image"
                            {% for picture in product.pictures %}
                                {% if loop.index ==1 %}
                                    style="background: url({{ asset(picture.getWebPath()) }});">
                                {% endif %}
                            {% else %}
                                style="background: url('http://bliister.com/upload/thumb/no_img.jpg');">
                            {% endfor %}
                        </div>
                    </a>
                    <div class="sale-box"></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">
                                <a href="{{ path('product_user_view', {id: product.minPrice.id}) }}">
                                    {{ product.name }}
                                </a>
                            </p>
                            <div class="price1">
                                <span class="actual">{{ product.minPrice.price|number_format(2, '.',',') }}</span>
                            </div>
                        </div>
                        <div class="icon cart-right"></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </a>
        </div>

    {%  endfor %}
        <div class="clear"></div>
    </div>
{%  endfor %}

</section>