<div class=" header header-bottom" style="position:fixed;width: 100%;height:200px;z-index:999;top: 30px;">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                    <h1 style="font-size: 24pt;">{{ site.name }}</h1>
                    {# if  logo is not null and logo != '' #}
                <!--figure id="logo" style="background: {#{ path('site_logo') }#};background-repeat: no-repeat;background-size: contain;"></figure-->
                {# if endif #}
                <h2>{{ site.slogan }}</h2>

            </div>

            {%  block menu %}
                {%  render(controller('CmsUlysseBundle:Menu:list')) %}
            {%  endblock menu %}
        </div>





    <div class="header-bottom-right">


        <div class="search">
            <input id='search' type="text" name="s" class="textbox" placeholder="Search" >
            <div id="TargetSelect"></div>
            <script>
                $( "#select" ).appendTo( $( "#TargetSelect" ));
            </script>
        </div>

        <div class="tag-list">


            <ul class="icon1 sub-icon1 profile_img">
                <li><span class="active-icon icon geoloc"><a><i class="fa fa-user fa-lg"></i></a></span>
                    <ul class="sub-icon1 list">
                        <li><h3>user</h3></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                            <li><a class="list-group-item" href="{{ path('user_update') }}">&nbsp; Infos Personnelles</a></li>
                            <li><a class="list-group-item" href="{{ path('commands_user') }}">&nbsp; Suivie de mes commandes</a></li>
                            <li><a class="list-group-item" href="{{ path('commands_seller') }}">&nbsp; Suivie de mes ventes</a></li>
                            <li><a class="list-group-item" href="{{ path('cms_messagerie_inbox') }}">&nbsp;Messagerie</a></li>
                            <li><a class="list-group-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {%  else %}
                            <li><center><a class="btn btn-primary btn-large" href="{{ path('fos_user_security_login') }}">Log In</a></center></li>
                            <li><center><a class="btn btn-primary btn-large" href="{{ path('fos_user_registration_register') }}">Sign Up</a></center></li>
                            <li><center>~~ or ~~</center></li>
                            <li>
                                <center>
                                    <a class="btn btn-primary btn-large" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="{{ 'registration.facebook.submit'|trans }}">
                                            facebook
                                    </a>
                                </center>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul><li><a href="#">User</a></li></ul>
            <ul><li><span class='other'></span></li></ul>
            <ul class="icon1 sub-icon1 profile_img">
                <li><span class="active-icon icon geoloc"><a><i class="fa fa-shopping-cart fa-lg"></i></a></span>
                    <ul class="sub-icon1 list">
                        {% render(controller('CmsUlysseBundle:Cart:widget')) %}
                        <center>
                            <a href="{{ path('user_cart') }}" class="btn btn-success"> Mon panier</a>
                        </center>
                    </ul>
                </li>
            </ul>
            <ul><li><a id="cardAff" href="{{ path('user_cart') }}">Cart(0)</a></li></ul>
<style>
    .sub-icon1.list table{
        width: 320px;
        overflow: hidden;
        display: block;
    }
    .sub-icon1.list table >tbody{
        width: 320px;
        overflow: hidden;
        display: block;
    }

    .sub-icon1.list table >tbody>tr{
        width: 320px;
        overflow: hidden;
        display: block;
    }
    .sub-icon1.list table > tbody > tr >th:nth-of-type(5){
        display: none;
    }
    .sub-icon1.list table > tbody > tr >th:nth-of-type(6){
        display: none;
    }
    .sub-icon1.list table > tbody > tr >th:nth-of-type(7){
        display: none;
    }
    .sub-icon1.list table > tbody > tr >td:nth-of-type(5){
        display: none;
    }
    .sub-icon1.list table > tbody > tr >td:nth-of-type(6){
        display: none;
    }

    .sub-icon1.list table > tbody > tr >th, .sub-icon1.list table >tbody>tr> td{
        display: inline-block;
        width: calc(100% / 4 - 8px);
        box-sizing: padding-box;
        padding:5px;
        font-size: 10px;

    }

</style>
            <script>
                setInterval(
                        cartNb()
                        , 900);

                function cartNb(){
                    Json= getCookie('cart')!="" ? JSON.parse(getCookie('cart')) : new Array();
                    //console.log('json'+Json);
                    var totaux=0;
                    for (i=0;i<Json.length;i++){
                        totaux += Json[i].qty;
                        // console.log('qty:'+Json[i].qty);
                        // console.log('toto'+totaux);
                    }
                    $('#cardAff').html('Cart('+totaux+')');
                    if('Cart('+totaux+')'==$('#cardAff').innerText || $('#cardAff').textContent){
                        clearInterval(cartNb);
                        console.log('end');
                    }
                }
            </script>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>
</div>

{% block minimenu %}
<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/circle-menu.min.css') }}">

<style>
    #c-circle-nav__toggle{
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
    }
    .svg path {
        fill: #FFF !important;
    }
    .svg{
        height:100%;
        width:100%;
        padding: 18% 18%;
        margin-top:-2%
    }
</style>

<nav id="c-circle-nav" class="c-circle-nav" style="display:none;">
    <button id="c-circle-nav__toggle" class="c-circle-nav__toggle header">
        <span>Toggle</span>
    </button>
    <ul class="c-circle-nav__items">
        <li class="c-circle-nav__item">
            <a href="{{ path('home') }}" class="c-circle-nav__link">
                <img src="{{ asset('img/house.svg') }}" alt="">
            </a>
        </li>
        <li class="c-circle-nav__item">
            <a href="{{ path('user_product_list') }}" class="c-circle-nav__link">
                <img src="{{ asset('img/shopping63.svg') }}" alt="" class="svg">
            </a>
        </li>
        <li class="c-circle-nav__item">
            <a href="{{ path('commands_user') }}" class="c-circle-nav__link">
                <img src="{{ asset('img/pin.svg') }}" alt="">
            </a>
        </li>
        <li class="c-circle-nav__item">
            <a class="c-circle-nav__link sh">
                <img src="{{ asset('img/search.svg') }}" alt="">
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="c-circle-nav__item">
                <a href="{{ path('index_admin') }}" class="c-circle-nav__link">
                    <img src="{{ asset('img/tools.svg') }}" alt="">
                </a>
            </li>
        {% else %}
            <li class="c-circle-nav__item">
                <a href="{{ path('contact_admin') }}" class="c-circle-nav__link">
                    <img src="{{ asset('img/tools.svg') }}" alt="">
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
    <script src="{{ asset('js/scrollCalou.js') }}"></script>
    <style>
        #questionnaire h2{
            text-align: center;
        }
        #questionnaire ul {
            margin: 50px auto;
            width:800px;
        }
        #questionnaire ul li a {
            color: #fff;
        }

        #questionnaire ul li{
            width: 100px;
            display: inline-block;
            text-align: center;
            margin: 20px;
            line-height:100px;
            border-radius: 50%;
            background: #0d4783
        }
        #questionnaire	{
            width: 85%;
            padding: 2%;
            margin: 30px 3%;
        }
        #questionnaire{
            display: none;
            position:absolute;
            z-index: 0;
            background:white;
        }
        #questionnaire.is-active{
            display: block;
            z-index: 998;
        }
    </style>

            <div id="questionnaire" >
                <strong style="cursor:pointer;display: block;width: 100%; text-align: right;" onclick="popinHi('msg')">x</strong>
                <p style="cursor:pointer;" onclick="popinHi('msg')"></p>
                <h2>Partagez nos bons plans à vos amis !</h2>
                <section id="partage">
                    <ul>
                        <li>
                            <a href=
                               "https://www.facebook.com/sharer/sharer.php
								?u="
                               onclick="
									javascript:window.open
									(this.href + encodeURIComponent(window.location),
									'',
									'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
									return false;"
                               title="share on facebook">
                                facebook
                            </a>
                        </li>

                        <li>
                            <a href="https://plus.google.com/share?
								url="
                               onclick="
									javascript:window.open
									(this.href + encodeURIComponent(window.location),
									'',
									'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
									return false;"
                               title="share on google +">

                                google+
                            </a>
                        </li>
                        <li>
                            <a href="
								https://twitter.com/share?
								text=CmsUlysse%20Soyez%20le%20plus%20rapide%20a%20participer%20a%20pour%20participer%20à%20nos%20ventes%20privée
								&url="
                               onclick="
									javascript:window.open
									(this.href + encodeURIComponent(window.location),
									'',
									'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
									return false;"
                               title="share on twitter">

                                twitter
                            </a>
                        </li>

                        <li>
                            <a href="
								http://blogger.com/blog-this.g?
								t=Soyez%20le%20plus%20rapide%20a%20participer%20a%20pour%20participer%20à%20nos%20ventes%20privée
								&n=titlename
								&u="
                               onclick="
									javascript:window.open
									(this.href + encodeURIComponent(window.location),
									'',
									'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
									return false;"
                               title="share on blogger">

                                blogger
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/shareArticle
									?mini=true
									&ro=false
									&title=CMS Ulysse | le cms de vente facile
									&summary=Soyez le plus rapide à participer à pour participer à nos ventes privée
									&source=cmsulysse
									&url="
                               onclick="
									javascript:window.open
									(this.href + encodeURIComponent(window.location),
									'',
									'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
									return false;"
                               title="share on linkedin">
                                linkedIn
                            </a>
                        </li>

                    </ul>

                </section>
    </div>
    <script>
        var goAAo=0;
        function popinHi(msg){
            if(goAAo==0){
                $('.c-mask').addClass('is-active');
                $('#questionnaire').addClass('is-active');
                $('#questionnaire p').html(msg);
                goAAo=1;
            }else{
                $('.c-mask').removeClass('is-active');
                $('#momodal').removeClass('is-active');
                goAAo=0;
                $(#questionnaire p').html();
            }

        };

        $('.c-mask').click(function(){
            $('#questionnaire').removeClass('is-active');
            goAAo=0;
            $('#questionnaire p').html();
        });
        $('#questionnaire p').click(function(){
            $('#questionnaire').removeClass('is-active');
            goAAo=0;
            $('#questionnaire p').html();
        });
    </script>

{% endblock %}