{%  if site.positionMenu == 1 %}
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        {% for category in categories %}
            <li><a class="color{{ category.id }}" href="#">{{ category.name }}</a>
               <ul>
                   {% for categ_down in categs_down %}
                        {% if  categ_down.categup.id == category.id %}
                            <li><a href="{{ path('market_cart') }}category/{{ categ_down.id }}">{{ categ_down.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
             </li>
        {% endfor %}
    </ul>
</div>


    <!-- feuilles de styles -->
    <link type="text/css" href="css/style.css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="js/site.js"></script>
    <div id="menu">
        <a href="javascript:;" class="close"></a>
        <ul>
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Votes</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>

    <div id="page">
        <a href="javascript:;" class="menu_btn"></a>
    </div>
{%  endif %}