<div class="menu">
    <ul class="megamenu skyblue">
        <li class="active grid"><a href="/">Home</a></li>

        {% for category in categories %}
            <li><a class="color{{ category.id }}" href="{{ path('market_cart') }}category/{{ category.id }}">{{ category.name }}</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4></h4>
                                <ul>
                                    {% for categ_down in categs_down %}
                                        {% if  categ_down.categup.id == category.id %}
                                            <li><a href="{{ path('market_cart') }}category/{{ categ_down.id }}">{{ categ_down.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div style="display:none"></div>
<select id="select">
    <option id="TOUS" name="0">TOUS</option>
    {% for category in categories %}
        {% if (app.session.get('category') == category.id) %}
            <option id="{{ category.name }}" name="{{ category.id }}" class="optgroup" selected>{{ category.name }}</option>
        {% else %}
            <option id="{{ category.name }}" name="{{ category.id }}" class="optgroup">{{ category.name }}</option>
        {% endif %}
        {{ category.name }}
        {% for categ_down in categs_down %}
            {% if  categ_down.categup.id == category.id %}
                {% if (app.session.get('category') == categ_down.id)%}
                    <option id="{{ categ_down.name }}" name="{{ categ_down.id }}" selected>{{ categ_down.name }}</option>
                {% else %}
                    <option id="{{ categ_down.name }}" name="{{ categ_down.id }}">{{ categ_down.name }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

</select>
<script>
    $( "#select" ).appendTo( $( "#TargetSelect" ));
</script>