<div class="menu">
    <ul class="megamenu skyblue">
        <li class="active grid"><a href="/">Home</a></li>

        {% for category in categories %}
            <li><a class="color{{ category.id }}" href="{{ path('market_cart') }}category/{{ category.id }}">{{ category.name }}</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4></h4>
                                <ul>
                                    {% for categ_down in categs_down %}
                                        {% if  categ_down.categup.id == category.id %}
                                            <li><a href="{{ path('market_cart') }}category/{{ categ_down.id }}">{{ categ_down.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>