{%  if site.positionMenu == 1 %}
<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        {% for category in categories %}
            <li><a class="color{{ category.id }}" href="#">{{ category.name }}</a>
               <ul>
                   {% for categ_down in categs_down %}
                        {% if  categ_down.categup.id == category.id %}
                            <li><a href="{{ path('market_cart') }}category/{{ categ_down.id }}">{{ categ_down.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
             </li>
        {% endfor %}
    </ul>
</div>
{%  endif %}