<section id="new">
{% for titleC, products in category %}
    <h2 class="head">{{ titleC }}</h2>
       <div class="top-box">
        {% for product in products %}
        <div class="chg card col_1_of_3 span_1_of_3">
                <div class="inner_content clearfix">
                    <a href="{{ path('product_user_view', {id: product.minPrice.id}) }}">
                        <div class="product_image" style="background: url('http://bliister.com/upload/thumb/no_img.jpg');">
                        </div>
                    </a>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">
                                <a href="{{ path('product_user_view', {id: product.minPrice.id}) }}">
                                {{ product.name }}
                                </a>
                            </p>
                            <div class="price1">
                                <span class="actual">{{ product.minPrice.price|number_format(2, '.',',') }}</span>
                            </div>
                        </div>
                        <div class="cart-right"></div>
                        <div class="clear"></div>
                    </div>
                </div>
        </div>

    {%  endfor %}
        <div class="clear"></div>
    </div>
{%  endfor %}
</section>