<section id="new">
{% for titleC, products in category %}
    <h2 class="head">{{ titleC }}</h2>
       <div class="top-box">
        {% for product in products %}
        <div class="chg card col_1_of_3 span_1_of_3">
                <div class="inner_content clearfix">
                    <a href="{{ path('product_user_view', {id: product.minPrice.id}) }}">
                        <div class="product_image"
                            {% for picture in product.pictures %}
                                {% if loop.index ==1 %}
                                 style="background: url({{ asset(picture.getWebPath()) }});">
                                {% endif %}
                            {% else %}
                                 style="background: url('http://bliister.com/upload/thumb/no_img.jpg');">
                            {% endfor %}
                        </div>
                    </a>
                    <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                    <div class="price">
                        <div class="cart-left">
                            <p class="title">
                                <a href="{{ path('product_user_view', {id: product.minPrice.id}) }}">
                                {{ product.name }}
                                </a>
                            </p>
                            <div class="price1">
                                <span class="actual">{{ product.minPrice.price|number_format(2, '.',',') }}</span>
                            </div>
                        </div>

                        <div style="display: none" id="name{{ product.minPrice.id }}">{{ product.name }}</div>
                        <div style="display: none" id="description{{ product.minPrice.id }}">{{ product.description }}</div>
                        <div style="display: none" id="price{{ product.minPrice.id }}">{{ product.minPrice.price }}</div>
                        <div style="display: none" id="stock{{ product.minPrice.id }}">{{  product.minPrice.qty }}</div>
                        <div style="display: none" id="seller{{ product.minPrice.id }}">{{  product.minPrice.user  }}</div>

                        <div class="icon cart-right" onclick="addCart({{ product.minPrice.id }})"></div>
                        <div class="clear"></div>
                    </div>
                </div>
        </div>

    {%  endfor %}
        <div class="clear"></div>
    </div>
{%  endfor %}
    <script src="{{ asset('js/cart.js') }}"></script>
</section>