{% set context = is_granted('ROLE_ADMIN') ?  ":Admin:base.html.twig" :  ':include:message_layout.html.twig' %}
{% extends context %}

{% if is_granted('ROLE_ADMIN')  %}
    {% block body_content %}
        <a href="#"><strong>Nouveau Message</strong></a>

        <hr>
        <div class="row col-lg-8">
            <h3 style="color: #002070;"> Envoyé un message à {{ user.firstName }} {{ user.lastName }}</h3>
            <br/>
            <form class="form-horizontal" action="{{ url('cms_messagerie_thread_new') }}" method="post">

                <div style="display: none;" class="form-group">
                    {{ form_label(form.recipient, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.recipient, {
                            'attr': {
                                'class': 'form-control',
                                'value': user.email}
                        } )
                        }}
                    </div>
                    {{ form_errors(form.recipient) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject, "Objet", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}} ) }}
                    </div>
                    {{ form_errors(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.body, "Message", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.body, {'attr': {'class': 'form-control'}} ) }}
                    </div>
                    {{ form_errors(form.body) }}
                </div>

                {{ form_widget(form) }}

                <input class="btn btn-primary" type="submit" />
            </form>
        </div>
    {% endblock %}
{% else %}
    {% block fos_message_content %}

        <h2>Nouveau Message</h2>

        <h3> Envoyé un message à {{ user.firstName }} {{ user.lastName }}</h3>
        <form class="form-horizontal" action="{{ url('cms_messagerie_thread_new') }}" method="post">

            <div style="display: none;" class="form-group">
                {{ form_label(form.recipient, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.recipient, {
                        'attr': {
                            'class': 'form-control',
                            'value': user.email}
                    } )
                    }}
                </div>
                {{ form_errors(form.recipient) }}
            </div>
            <div class="form-group">
                {{ form_label(form.subject, "Objet", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.subject) }}
            </div>
            <div class="form-group">
                {{ form_label(form.body, "Message", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.body) }}
            </div>

            {{ form_widget(form) }}

            <input class="btn btn-primary" type="submit" />
        </form>

    {% endblock %}
{% endif %}