<table class="table table-hover">

    <thead>
        <tr>
            <th>Object :</th>
            <th>De :</th>
            <th>Le :</th>
            <th>Nombre de Messages</th>
            <th>Dernier Message</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('cms_messagerie_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        (new)
                    {% endif %}
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.createdAt|date }}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        {{  thread.lastMessage.createdAt|date }} <br/>par {{ thread.lastMessage.sender|e }}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('cms_messagerie_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}Retirer de l'archive{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('cms_messagerie_thead_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}Archivé{% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                                <input class="btn btn-warning" type="submit" value="{{ submitValue }}" />
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
               Pas de Messages
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
