{% set context = is_granted('ROLE_ADMIN') ?  ":Admin:base.html.twig" :  ':include:message_layout.html.twig' %}
{% extends context %}

{% if is_granted('ROLE_ADMIN')  %}
    {% block body_content %}
        <a href="#"><strong>Messagerie</strong></a>

        <hr>
        <h3>Objet : {{ thread.subject }}</h3>
        {% for message in thread.messages %}
            <div class="well well-lg col-lg-8">
                Envoyé par <strong>{{ message.sender.firstName }} {{ message.sender.lastName }}</strong> le <strong>{{ message.createdAt|date }}</strong>  :

                <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                    {{ message.body | nl2br}}
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-8">
            <hr>

            <h3>Répondre</h3>

            <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">

                <div class="form-group">
                    {{ form_label(form.body, "Message") }}
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.body) }}
                </div>
                {{ form_widget(form) }}

                <input class="btn btn-primary" type="submit" />
            </form>
        </div>

    {% endblock %}
{% else %}
    {% block fos_message_content %}

        <h3>Objet : {{ thread.subject }}</h3>
        {% for message in thread.messages %}
            <div class="well well-lg col-lg-8">
                Envoyé par <strong>{{ message.sender|e }}</strong> le <strong>{{ message.createdAt|date }}</strong>  :

                <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                    {{ message.body | nl2br}}
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-8">
            <hr>

            <h3>Répondre</h3>

            <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">

                <div class="form-group">
                    {{ form_label(form.body, "Message") }}
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.body) }}
                </div>
                {{ form_widget(form) }}

                <input class="btn btn-primary" type="submit" />
            </form>
        </div>

    {% endblock %}

{% endif %}
