{% extends "::base.html.twig" %}

{% block title %}CmsUlysseBundle:Product:add{% endblock %}

{% block body %}

<h1 xmlns="http://www.w3.org/1999/html">Welcome to the Product:add page</h1>
    <form action="" method="POST" {{ form_enctype(form) }} class="form">
        <section>
            {{ form_row(form.name) }}
        </section>
        <section>
            {{ form_row(form.description) }}
        </section>
        <section>
            {{ form_row(form.file) }}
        </section>
        <section>
            {{ form_row(form.categories) }}
        </section>
        <section>
            <ul class="specifications" data-prototype="{{ form_widget(form.specifications.vars.prototype)|e }}">
                {# itère sur chaque spec existantes #}
                {% set delete = 1 %}
                {% for specification in form.specifications %}
                    <div id="{{ delete }}">
                        <li>{{ form_row(specification.name) }}</li>
                        <li>{{ form_row(specification.content) }}</li>
                        <div onclick='deleteSpecForm({{ delete }});' >Supprimer</div>
                    </div>
                    {% set delete = delete + 1 %}
                {% endfor %}
            </ul>
        </section>
        <section>
            {% if onlyProduct is not defined %}
                {{ form_widget(form.user_products.vars.prototype) }}
            {% endif %}
        </section>
        <section style="display:none" class="spec">
            {{ form_row(form.specifications) }}
            {% if onlyProduct is not defined %}
                {{ form_row(form.user_products) }}
            {% endif %}
        </section>
        {{ form_rest(form) }}
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
        var collectionHolder = $('ul.specifications');
        var $addSpecLink = $('<a href="#">Ajouter une specification</a>');
        var idadd = {{ delete }};

        var $newLinkLi = $('<li></li>').append($addSpecLink);
        jQuery(document).ready(function() {
            collectionHolder.append($newLinkLi);
            $addSpecLink.on('click', function(e) {
                e.preventDefault();
                addSpecForm(collectionHolder, $newLinkLi);
            });
        });
        function addSpecForm(collectionHolder, $newLinkLi) {
            var prototype = collectionHolder.attr('data-prototype');
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
            var $newFormLi = $("<li id='"+idadd+"'></li>").append(newForm);
            $newLinkLi.before($newFormLi);
            var $button = $($newFormLi).append("<div onclick='deleteSpecForm("+idadd+");'>Supprimer</div>");
            idadd++;
        }

        function deleteSpecForm(id) {
            document.getElementById(id).remove();
        }

    </script>

{% endblock %}
