{% extends "::base.html.twig" %}

{% block title %}CmsUlysseBundle:Product:index{% endblock %}

{% block body %}
<h1>Welcome to the Product:index page</h1>
    <section>
        <header>
            <input type="text" placeholder="search" class="search">
            <a href="{{ path('product_add') }}" class="create">+</a>
        </header>
        {% for product in products %}
        <article id="{{ product.id }}" class="card">
            <a href="{{ path('') }}">
                <img width="300px" src="{{ asset(product.getWebPath())}}" alt="" class="circle"/>
                <h2>{{ product.name }}</h2>
            </a>
            <a href="{{ path('product_view', {'id': product.id}) }}" class="zoom">Voir</a>
        </article>


        {% endfor %}

    </section>
    <script>


    </script>

{% endblock %}
