{% extends "::base.html.twig" %}

{% block title %}Vendre ce produit{% endblock %}

{% block body %}

    <h1>Vendre ce produit</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Catégories</th>
            <th>Caractéristiques</th>
        </tr>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>
                {% for categorie in product.categories %}
                    {{ categorie.name }} (catégorie mère : {{ categorie.categup.name }})
                {% endfor %}
            </td>
            <td>
                <ul>
                    {% for specification in product.specifications %}
                        <li>{{ specification.name }} : {{ specification.content }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <div class="col-lg-4">
        <form class="form-horizontal" action="{{ path('product_sell', {'id': product.id }) }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">

            <section class="form-group">
                {{ form_label(form.price, "Prix", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.price) }}
            </section>
            <section class="form-group">
                {{ form_label(form.qty, "Quantité", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.qty, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.qty) }}
            </section>
            <section class="form-group">
                {{ form_label(form.state, "State", {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
                <div class="col-sm-10">
                    {{ form_widget(form.state, {'attr': {'class': 'form-control'}} ) }}
                </div>
                {{ form_errors(form.state) }}
            </section>

            {{ form_widget(form.btn, {'attr': {'class': 'btn btn-primary'}} ) }}

            <div style="display: none">
                {{ form_row(form) }}
            </div>
        </form>
    </div>


{% endblock %}
